{% extends "base.html" %}
{% block title %}{{ 'Uredi' if termin else 'Novi' }} termin{% endblock %}
{% block content %}
  <h2>{{ 'Uredi' if termin else 'Novi' }} termin</h2>
  <form method="post">
    {% if termin %}
      <input type="hidden" name="id" value="{{ termin.id }}">
    {% endif %}
    <div class="mb-3">
      <label class="form-label">Vozilo ID:</label>
      <input name="vozilo_id" class="form-control" type="number"
        value="{{ termin.vozilo.id if termin else '' }}" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Datum od:</label>
      <input name="datum_od" class="form-control" type="date"
        value="{{ termin.datum_od if termin else '' }}" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Datum do:</label>
      <input name="datum_do" class="form-control" type="date"
        value="{{ termin.datum_do if termin else '' }}" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Status:</label>
      <input name="status" class="form-control" type="text"
        value="{{ termin.status if termin else '' }}" required>
    </div>
    <button class="btn btn-success">{{ 'Spremi' if termin else 'Dodaj' }}</button>
  </form>
{% endblock %}